/* General Settings, Colors and Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:wght@300;400&display=swap');

:root {
    --violet: #3E2D41;
    --pink: #EA6D7F;
    --rose: #F4C7C5;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Cabin', sans-serif;
}

h1, 
h2,
h3 {
    font-family: 'Roboto Condensed', sans-serif;
}

/* Header */

header {
    background-color: var(--violet);
    height: 25vh;
}

.logo {
    text-align: center;
    padding-top: 1.5rem;
}


.logo-image {
    width: 70%;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    font-size: 110%;
    letter-spacing: 2.5px;;
}

.nav-item {
    margin: 0 .5rem;
    padding: 0.5rem;
}

.nav-link {
    text-decoration: none;
    color: var(--pink);
}

/* Hero Section */

#hero {
    height: 650px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-image {
    height: 100%;
    width: 100%;
    background: url(../images/hero-3-1.png) no-repeat center top;
    /* position: relative; */
}

.color-overlay {
    height: 100%;
    width: 100%;
    background: var(--pink);
    opacity: 0.7;
    /* position: absolute; */
}

.hero-text {
    width: 70%;
    position: absolute;
    top: 50px;
    text-align: center;
    font-size: 120%;
    letter-spacing: 2.5px;;
    padding: 30px 20px 30px 20px;
    background: rgb(62, 45, 65, .8);
    color: var(--rose);
}

.hero-text h1 {
    padding-bottom: 20px;
    text-transform: uppercase;
}

.hero-text p {
    color: var(--pink);
}

hr {
    border-top: 1px solid var(--rose);
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.hero-buttons {
    width: 70%;
    margin: 0 auto;
    position: absolute;
    top: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.hero-buttons img {
    width: 100%;
}