/* General Settings, Colors and Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:wght@300;400&family=Staatliches&display=swap');

:root {
    --violet: #3E2D41;
    --pink: #EA6D7F;
    --rose: #F4C7C5;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Cabin', sans-serif;
    color: var(--violet);
}

@media screen and (min-width: 481px) {
    body {
        font-size: 150%;
    }
}

h1, 
h2,
h3 {
    font-family: 'Roboto Condensed', sans-serif;
}

/* Header */

header {
    background-color: var(--violet);
    height: 220px;
}

.header-container {
    text-align: center;
    padding-top: 1.5rem;
}


.logo-image {
    width: 70%;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    font-size: 110%;
    letter-spacing: 2.5px;;
}

.nav-item {
    margin: 0 .5rem;
    padding: 0.5rem;
}

.nav-link {
    text-decoration: none;
    color: var(--pink);
}

@media screen and (min-width: 481px) {
    
    header {
        height: 280px;
    }
    
    .logo-image {
        width: 50%;
    }

    .header-container {
        padding-top: 2rem; 
    }
}

/* Hero Section */

#hero {
    height: 650px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-image {
    height: 100%;
    width: 100%;
    background: url(../images/hero-3-1.png) no-repeat center top;
}

.color-overlay {
    height: 100%;
    width: 100%;
    background: var(--pink);
    opacity: 0.7;
}

.hero-text {
    width: 70%;
    position: absolute;
    top: 90px;
    text-align: center;
    font-size: 120%;
    letter-spacing: 2.5px;;
    padding: 30px 20px 30px 20px;
    background: rgb(62, 45, 65, .8);
    color: var(--rose);
    border-radius: 25px;
}

.hero-text h1 {
    padding-bottom: 20px;
    font-size: 130%;
}

.uppercase {
    text-transform: uppercase;
    font-family: 'Staatliches', cursive;
    letter-spacing: 3px;
}

.hero-text p {
    color: var(--pink);
}

#hero hr {
    border-top: 1px solid var(--rose);
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.hero-buttons {
    width: 70%;
    margin: 0 auto;
    position: absolute;
    top: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* .hero-buttons img {
    width: 100%;
} */

.android {
    width: 280px !important;
}

@media screen and (min-width: 481px) {

    #hero {
        height: 750px;
    }

    .hero-text {
        width: 50%;
    }

    .hero-text h1 {
        font-size: 140%;
    }

    .uppercase {
        letter-spacing: 3.5px;
    }

    .hero-buttons {
        width: 50%;
        top: 470px;
    }
}

/* Feature Section */

#features {
    background-color: var(--rose);
}

#features h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 250%;
    font-weight: 400;;
    padding: 60px 0 10px;
}

.features-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}

.feature-item {
    width: 100%;
    padding: 20px 0 40px 0;
}

.feature-item h3 {
    font-size: 150%;
    text-decoration: underline;
}

.feature-item img {
    width: 100%;
}

.feature-item p {
    width: 75%;
    margin: 0 auto;
    font-size: 110%;
}

@media screen and (min-width: 481px) {
    .feature-item img {
        width: 70%;
    }

    .feature-item h3 {
        padding-bottom: 20px;
    }

    /* .feature-item p:nth-child(3) {
        padding-bottom: 40px;
    }                                  Why does this not work */
}

/* Testimonial Section */

#testimonial {
    background-color: var(--pink);
}

.testimonial-container {
    width: 90%;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;
    position: relative;
}

.fa-quote-right {
    position: absolute;
    font-size: 500%;
    top: 30px;
    left: 65%;
}

.testimonial-container img {
    width: 50%;
    margin: 0 auto;
    border-radius: 50%;
}

.testimonial-container h3 {
    padding-top: 30px;
}

.testimonial-stars {
    padding-bottom: 30px;
}

.testimonial-container p {
    width: 75%;
    margin: 0 auto;
    font-size: 110%;
}

@media screen and (min-width: 481px) {
    .testimonial-container {
        height: 750px;
    }
}

/* Team Section */

#team {
    background-color: var(--rose);
}

#team h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 250%;
    font-weight: 400;;
    padding: 60px 0 40px;
}

.team-container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.team-member {
    padding-bottom: 40px;
}

.team-member h3 {
    padding-bottom: 20px;
    font-size: 150%;
}

.team-member img {
    width: 70%;
    border-radius: 50%;
    margin: 0 auto 10px;
}

#team hr {
    border-top: 2px solid var(--pink);
    width: 50%;
    margin: 0 auto;
    padding-bottom: 20px;
}

/* Form */

#form {
    height: 800px;
    background: var(--violet);
    
}

#form h2 {
    font-size: 200%;
    letter-spacing: 3px;
    line-height: 2.5rem;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    padding: 30px 0;
    color: var(--pink);
}

.signup-form {
    width: 80%;
    margin: 0 auto;
}

label,
legend {
    color: var(--pink);
    font-size: 135%;
}

.radio-label {
    color: var(--rose);
}

.text-input {
    background: transparent;
    width: 99%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid var(--rose);
    border-radius: 5px;
    color: var(--rose);
    font-size: 110%;
    padding-left: 5px;
}

.text-input:focus,
textarea:focus {
    outline: none;
    border: 1px solid var(--pink);
    box-shadow: 0 0 5px var(--pink); /* With the help of https://stackoverflow.com/questions/16156594/how-to-change-border-color-of-textarea-on-focus */
}

fieldset {
    margin-bottom: 20px;
}

.radio-input {
    margin: 20px 20px 0 5px;
}

textarea {
    background: transparent;
    width: 99%;
    margin: 5px 0 18px 0;
    border: 1px solid var(--rose);
    border-radius: 5px;
    color: var(--rose);
    padding: 5px 0 0 5px;
    font-size: 120%;
}

.submit-input {
    width: 40%;
    height: 2.5rem;
    border-radius: 5px;
    background: var(--pink);
    color: var(--violet);
    font-size: 130%; /* Why can I not center it with margin: 0 auto ? */
    font-weight: 700;
    box-shadow: 2px 2px 1px var(--rose);
    -webkit-appearance: none; /* With the help of https://stackoverflow.com/questions/5438567/css-submit-button-weird-rendering-on-ipad-iphone */
}

/* Footer */

footer {
    height: 150px;
    width: 100%;
    background: var(--pink);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-child {
    margin-top: 15px;
}

footer button {
    width: 150px;
    height: 2rem;
    background: var(--violet);
    color: var(--rose);
    border-radius: 5px;
    font-size: 100%;
    box-shadow: 2px 2px 1px var(--rose);
}

.social-links i {
    color: var(--violet);
    font-size: 150%;
    padding: 10px;
}